@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* CSS Document */
/* Não desorganizem e a amizade continua XD !!! */

:root {
    --PrimaryColor:    #041f33;
    --ButtonColor:     #05304f;
    --SecondaryColor:  #e1dfda;
    --TertiaryColor:   #8e8888;
    --QuaternaryColor: #26282a48;
    --QuinaryColor:    #ffffff58;
    --SenaryColor:     #ffffff;
    --SeptenaryColor:  #000000;
    --Font: font-family: 'Montserrat', sans-serif; 
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.primaryColor {
    background-color: var(--PrimaryColor);
}

header {
    background-color: var(--PrimaryColor);
}

.buttonModal {
    background-color: var(--PrimaryColor);
    border: none;
}

.buttonModal:hover {
    background-color: var(--ButtonColor);
}

a {
    text-decoration: none;
    color: var(--SeptenaryColor);
}

table > tbody > tr > td > a:hover {
    text-decoration: underline;
}